

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">用户ID</label>
            <div class="layui-input-block">
              <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">用户昵称</label>
            <div class="layui-input-block">
              <input type="text" name="nickname" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="lay-table-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      
      <hr>
      
      <div class="layui-card-body" style="width: auto">
        <table id="lay-table" lay-filter="lay-table"></table>
        <script type="text/html" id="lay-table-tool" >
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-edit"></i>查看</a>

          {{#  if(d.status == 2){ }}
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="unfreeze"><i class="layui-icon layui-icon-auz"></i>解冻</a>
          {{#  } }}

          {{#  if(d.status == 1){ }}
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="freeze"><i class="layui-icon layui-icon-snowflake"></i>冻结</a>
          {{#  } }}


        </script>
      </div>
    </div>

    <input type="hidden" id="edit_id" name="edit_id" class="layui-input"><!--给子界面弹框用的id-->
  </div>


  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script src="../../immanage/js/imuser/imuserlist.js"></script>
  <script src="../../immanage/js/common/xc-web-ui.js"></script>

  <script src="../../immanage/js/common/basePath.js"></script>

  <script src="../../jquery/jquery-3.5.1.min.js"></script>
</body>
</html>
