.ol{
    width: 230px;
    height: 430px;
    overflow-y: scroll;
}

.li-span{
    background-color: #3eb5ff;color: white
}

.li-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.li-div{
    overflow: hidden;
    margin-top: 20px;
}

.li-div-left{
    float: left;
    width: 50px;
    height: 50px;
}

.li-div-right{

    margin-left:55px;
    width: 250px;
    height: 25px;
}

.left-div{
    overflow: hidden;
}

.left-div-left{
    float: left;
    width: 250px;
    height: 600px;
}

.left-div-right{
    margin-left: 15px;
    padding-left: 250px;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
}

.right-member{
    text-align: center;
    margin-top: 20%;

}

.btn-history{
    background-color: #3eb5ff;color: white;
    width: 200px;
    height: 50px;
    border-style: hidden;
    cursor: pointer;
}

.layui-elem-quote.layui-text.second{
    width: 230px;
}

.layui-elem-quote.layui-text.third{
    width: 700px;
}


.layui-card-body.third{
    margin-top: 50px;
}

.layui-input {
    width: 200px;
}

.left {
    float: left;
    width: 200px;
    height: 100%;
}
.right {
    margin-left: 200px;
}

