.chatBox{height: 100%; overflow-y: hidden; overflow-x: hidden;}
.chatBox .list{margin:15px; position: relative; padding-left: 45px;}
.chatBox .list .content {cursor: pointer;}
.chatBox .list .headImg{width: 32px; height: 32px; cursor: pointer; border: solid 1px #e8e8e8; position: absolute; left: 0; top: 18px;}
.chatBox .list .title{height: 18px; line-height: 18px; color: #9eacb7; font-size: 12px; font-family: "宋体";}
.chatBox .list .content{float: left; color: #303b44; line-height: 20px; padding: 6px 10px; background-color: #fff; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .1);box-shadow: 0 2px 5px rgba(0, 0, 0, .1);}
.chatBox .list .content pre{white-space: pre-wrap; word-break: break-all; word-wrap: break-word; font-size: 13px; font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;}
.chatBox .list .tri{width: 0; height: 0; display: block; border-width: 10px 10px 10px 0; border-style: dashed solid dashed dashed; border-color: transparent #fff transparent transparent; position: absolute; left: 40px; top: 23px;}
.chatBox .list.me{padding-left: 0; padding-right: 45px; margin-top: 20px;}
.chatBox .list.me .headImg{left: auto; right: 0; top: 0; cursor: default;}
.chatBox .list.me .title{text-align: right;}
.chatBox .list.me .content{float: right; color: #fff; background-color: #0086ed;}
.chatBox .list.me .content.select{float: right; color: #fff; background-color: #ed0813;}

.chatBox .list.me .tri{left: auto; right: 40px; top: 6px; border-width: 10px 0 10px 10px; border-color: transparent transparent transparent #0086ed;}
.chatBox .list.me .tri.select{left: auto; right: 40px; top: 6px; border-width: 10px 0 10px 10px; border-color: transparent transparent transparent #ed0813;}
.chatBox .time{text-align: center; color: #9eacb7; font-size: 14px; font-family: "宋体";margin-top: 10px;}
.chatBox .banned{margin-bottom: 10px; text-align: center; color: #9eacb7; font-size: 14px; font-family: "宋体";margin-top: 10px;}