.layui-layout-admin .layui-body .layadmin-tabsbody-item{position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: hidden;}
.layui-form-label.layui-required:after{content: "*"; color: red; position: absolute; top: 5px;left: 15px;}
.layui-input-block.layui-required:after{content: "*"; color: red; position: absolute; top: 5px;left: 15px;}