.ol{
    width: 200px;
    height: 480px;
    overflow-y: scroll;
}

.li-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.li-div{
    overflow: hidden;
    margin-top: 20px;
}

.li-div-left{
    float: left;
    width: 50px;
    height: 50px;
}

.li-div-right{

    margin-left:55px;
    width: 250px;
    height: 25px;
}

.left-div{
    overflow: hidden;
}

.left-div-left{
    float: left;
    width: 250px;
    height: 500px;
}

.left-div-right{

    padding-left: 250px;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
}

.right-member{
    text-align: center;
    margin-top: 10%;

}


#itemTwo{
    margin-left:233px;
    margin-bottom: -15px;
}