

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>举报管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <input type="text"  name="reporteddate" id="reporteddate" placeholder="举报时间" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-inline">
              <input type="text" id="nickName" name="nickName" placeholder="举报人" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-inline">
              <input type="text" name="objName"   placeholder="举报对象" autocomplete="off" class="layui-input">
          </div>
          <div class="layui-inline">
              <select id="reportedType" name="reportedType">
              </select>
          </div>
          <div class="layui-inline">
            <select id="reportType" name="reportType">
            </select>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="lay-table-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <hr>

      <div class="layui-card-body">
        <table id="lay-table" lay-filter="lay-table"></table>
        <script type="text/html" id="lay-table-tool">
          <!--待处理状态-->
          {{#  if(d.reportStatus == 0){ }}
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="ignore"><i class="layui-icon layui-icon-delete"></i>忽略</a>

          <!--群组无禁言功能-->
          {{#  if(d.reportedType == 1){ }}
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="mute"><i class="layui-icon layui-icon-mute"></i>禁言</a>
          {{#  } }}

          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="freeze"><i class="layui-icon layui-icon-snowflake"></i>冻结</a>
          {{#  } }}

        </script>
      </div>
    </div>

    <input type="hidden" id="edit_id" name="edit_id" class="layui-input"><!--给子界面弹框用的id-->
    <input type="hidden" id="type" name="type" class="layui-input"><!--给子界面弹框用的id-->
  </div>


  <script src="../../layuiadmin/layui/layui.js"></script>
  <script src="../../../jquery/jquery-3.5.1.min.js"></script>
  <script src="../../immanage/js/common/xc-web-ui.js"></script>

  <script src="../../immanage/js/common/common.js"></script>
  <script src="../../immanage/js/common/basePath.js"></script>

  <script src="../../immanage/js/imreport/imreportlist.js"></script>
</body>
</html>
