<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend style="text-align: center;">举报图片轮播</legend>
</fieldset>

<div class="layui-carousel" style="margin-left: 100px" id="test10">
    <div carousel-item="" >
        <div  th:each="pic:${picArr}">
            <img  th:src="${pic}">
        </div>
    </div>
</div>


<script rel="preload" src="../../immanage/js/common/basePath.js"></script>
<script rel="preload" src="../../layuiadmin/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
            ,form = layui.form;
        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '800px'
            ,height: '400px'
            ,interval: 5000
        });
    });
</script>

</body>
</html>